<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.EnterpriseBelongLabelMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.EnterpriseBelongLabel">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="label_name" jdbcType="VARCHAR" property="labelName" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
  </resultMap>
</mapper>