<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.SchoolEnterpriseCooperateProjectApplyMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.SchoolEnterpriseCooperateProjectApply">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="hr_id" jdbcType="INTEGER" property="hrId" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="apply_reason" jdbcType="VARCHAR" property="applyReason" />
    <result column="enterprise_contact_person" jdbcType="VARCHAR" property="enterpriseContactPerson" />
    <result column="contact_phone" jdbcType="VARCHAR" property="contactPhone" />
  </resultMap>
</mapper>